---
Language: Cpp
BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Linux
ColumnLimit: 160
SpaceAfterTemplateKeyword: true
Standard: c++20
TabWidth: 4
IndentWidth: 4
UseTab: Always
NamespaceIndentation: All
FixNamespaceComments: true
CompactNamespaces: true
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
IndentPPDirectives: BeforeHash
IncludeCategories:
    # Headers in <> with .h extension.
    - Regex: '<([A-Za-z0-9\/-_])+\.h>'
      Priority: 10
    # Headers in <> with .hpp extension.
    - Regex: '<([A-Za-z0-9\/-_])+\.hpp>'
      Priority: 20
    # Headers in <> without extension.
    - Regex: '<([A-Za-z0-9\/-_])+>'
      Priority: 30
PointerAlignment: Left
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: true
    AfterObjCDeclaration: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeCatch: false
    BeforeElse: false
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
    BeforeLambdaBody: false
    BeforeWhile: false
